@import "../../scss/main.scss";
.theater-icon {
    img {
        width: 50px;
        height: 50px;
    }
}

.theaterCluster-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        display: block;
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }

    .theaterCluster-info {
        text-align: left;
        .theaterCluster-name {
            display: block;
            font-size: 14px;
            color: $color-green-2;
        }

        .theaterCluster-address {
            display: block;
            font-size: 12px;
            color: $color-gray-4;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1; // Number of line to show: N
            line-height: 1.5em; // X
            max-height: 1.5em; // X * N
        }

        .theaterCluster-detail {
            color: $color-red-0;
            font-size: 12px;
        }
    }
}
