// Variable color

// White
$color-white-0: #ffffff; // default
$color-white-1: #efefef;
$color-white-2: #eeeeee;
$color-white-3: #ebebec;
$color-white-4: #e8e8e8;
$color-white-5: #e9e9e9;

// Black
$color-black-0: #000000; // default
$color-black-1: #222222;
$color-black-1: #333333;

// Gray
$color-gray-0: #4a4a4a;
$color-gray-1: #555555;
$color-gray-2: #757575;
$color-gray-3: #767676;
$color-gray-4: #949494;
$color-gray-5: #9b9b9b;
$color-gray-6: #bbbbbb;
$color-gray-7: #d8d8d8;
$color-gray-8: #727b8a;

// Red
$color-red-0: #fb4226;
$color-red-1: #fa5238;
$color-red-2: #ca4137;

// Blue
$color-blue-0: #3b5b99;
$color-blue-1: #0c1b36;
$color-blue-2: #1f2e46;
$color-blue-3: #008fe5;
$color-blue-4: #60c5ef;

// Green
$color-green-0: #00ac4d;
$color-green-1: #7ed321;

// Variable font-size
$fs-0: 15px; //default
$fs-1: 13px;
$fs-2: 20px;
$fs-3: 24px;
$fs-4: 36px;
$fs-5: 40px;

//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;

//variable border-radius
$border-radius: 2px;

//variable line-height
$line-height-0: 1.43; //default

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;

//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;

// Variable responsive
$mobile-width: 600px;
$tablet-width: 1024px;
