@import "/src/scss/main.scss";
#homeMovie {
    max-width: 940px;
    padding-top: 75px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;

    .homeMovie-header {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: none;
        background-color: $color-white-0;

        .homeMovie-tab {
            color: $color-black-0;
            .homeMovie-tab-item {
                font-size: 20px;
                transition: all 0.5s;
                text-transform: capitalize;
                margin-right: 15px;
            }

            .Mui-selected {
                font-size: 24px;
                color: $color-red-0;
            }

            .homeMovie-tab-item:not(.Mui-selected):hover {
                font-size: 24px;
            }
        }
    }
}
